.perfect {
  color: var(--color-styles-accent-color);
}
.customMadeShoesThat,
.discoverYourPerfectContainer {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.discoverYourPerfectContainer {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.customMadeShoesThat {
  font-size: var(--title-20px-medium-size);
  color: var(--color-styles-gray-color);
}
.discoverYourPerfectFitParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.shopNowButton {
  align-self: stretch;
  height: 80px;
}
.frameParent {
  width: 766px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs-5) 0;
  box-sizing: border-box;
  gap: var(--gap-29xl);
  min-width: 766px;
  max-width: 100%;
}
.heroImagePlaceholder {
  width: 450px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.heroContent,
.heroContentWrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.heroContent {
  width: 1240px;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.heroContentWrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-87xl);
  color: var(--color-styles-text-color);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1275px) {
  .frameParent,
  .heroImagePlaceholder {
    flex: 1;
  }
  .heroContent {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1100px) {
  .frameParent {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .discoverYourPerfectContainer {
    font-size: var(--font-size-34xl);
  }
}
@media screen and (max-width: 450px) {
  .discoverYourPerfectContainer {
    font-size: var(--font-size-13xl);
  }
  .customMadeShoesThat {
    font-size: var(--title-16px-regular-size);
  }
  .shopNowButton {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frameParent {
    gap: var(--gap-5xl);
  }
}
