@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --title-16px-regular: Poppins;
  --heading-24px-bold: Inter;
  --font-montserrat: Montserrat;
  --font-cabin-condensed: "Cabin Condensed";

  /* font sizes */
  --title-16px-regular-size: 16px;
  --title-20px-medium-size: 20px;
  --heading-24px-bold-size: 24px;
  --font-size-lgi: 19px;
  --font-size-4xs: 9px;
  --title-14px-regular-size: 14px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-3xl: 22px;
  --font-size-87xl: 106px;
  --font-size-34xl: 53px;
  --font-size-6xl: 25px;
  --font-size-xs: 12px;
  --font-size-2xl-4: 21.4px;
  --font-size-mid: 17px;
  --font-size-sm-4: 13.4px;
  --font-size-mini: 15px;
  --font-size-3xs-7: 9.7px;
  --font-size-3xs: 10px;
  --font-size-23xl-5: 42.5px;
  --font-size-15xl: 34px;

  /* Colors */
  --color-styles-white-color: #fff;
  --color-styles-primary-color: #7d2e0b;
  --color-styles-gray-color: #8e8c8c;
  --color-gray-100: #151515;
  --color-styles-text-color: #0c0b0b;
  --color-gray-200: rgba(0, 0, 0, 0.4);
  --color-gray-300: rgba(0, 0, 0, 0.5);
  --color-gray-400: rgba(255, 255, 255, 0.4);
  --text2: #000;
  --color-darkgray: #979797;
  --secondary: #f5f5f5;
  --color-styles-gray-2: #f3f3f3;
  --secondary-2: #db4444;
  --color-styles-accent-color: #ff6600;
  --color-springgreen: rgba(0, 255, 102, 0.6);
  --color-crimson: #df1c41;

  /* Gaps */
  --gap-6xl: 25px;
  --gap-41xl: 60px;
  --gap-11xl: 30px;
  --gap-5xs: 8px;
  --gap-7xs: 6px;
  --gap-126xl-3: 145.3px;
  --gap-17xl: 36px;
  --gap-lg: 18px;
  --gap-54xl: 73px;
  --gap-base: 16px;
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-45xl: 64px;
  --gap-3xs: 10px;
  --gap-11xs: 2px;
  --gap-29xl: 48px;
  --gap-9xs: 4px;
  --gap-xs: 12px;
  --gap-lgi: 19px;
  --gap-0: 0px;
  --gap-14xl: 33px;
  --gap-13xl: 32px;
  --gap-20xl: 39px;
  --gap-base-5: 15.5px;
  --gap-sm: 14px;
  --gap-168xl: 187px;
  --gap-74xl: 93px;
  --gap-4xl: 23px;
  --gap-28xl: 47px;
  --gap-13xl-3: 32.3px;
  --gap-12xs-8: 0.8px;

  /* Paddings */
  --padding-24xl: 43px;
  --padding-xl: 20px;
  --padding-9xl: 28px;
  --padding-sm: 14px;
  --padding-3xs: 10px;
  --padding-6xs: 7px;
  --padding-7xs: 6px;
  --padding-10xs: 3px;
  --padding-lgi-5: 19.5px;
  --padding-xs: 12px;
  --padding-lg: 18px;
  --padding-12xs: 1px;
  --padding-5xs: 8px;
  --padding-40xl: 59px;
  --padding-10xl: 29px;
  --padding-147xl-5: 166.5px;
  --padding-base: 16px;
  --padding-89xl: 108px;
  --padding-11xs-5: 1.5px;
  --padding-11xs: 2px;
  --padding-9xs: 4px;
  --padding-3xl: 22px;
  --padding-8xs: 5px;
  --padding-5xl: 24px;
  --padding-43xl: 62px;
  --padding-12xs-5: 0.5px;
  --padding-6xl: 25px;
  --padding-mid: 17px;
  --padding-xs-5: 11.5px;
  --padding-7xs-1: 5.1px;
  --padding-22xl: 41px;
  --padding-lgi: 19px;
  --padding-16xl: 35px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-mid: 17px;
  --br-base: 16px;
  --br-81xl: 100px;
  --br-5xs: 8px;
  --br-5xl: 24px;
}
